body{
    background: #00FA9A;
	margin: 0;
	padding: 2vh;
}

.outer{
    background: #32CD32;
	margin-left: 1;
	margin-right: 1;
	height: 1vh;
}

.inner{
    background: #00FA9A;
}

#palco{
    margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 800px;
	background: #43CD80;
}
